In [42]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# Linkedin Canada: Data Science Jobs 2024

## Applying the CRISP-DM Life Cycle
###  1. Business Understaning
###  2. Data Understanding
###  2. Data Preparation 
###  3. Modelling
###  4. Evaluation
###  5. Deployment

## Business Understanding

#### The dataset is quite niche and focuses on the job market specific to the Data Science Field. The records were collated from Linkedin which is but one out of several job boards; there should be much caution in how the results of this analysis is extrapolated to a larger grouping.

#### The Busniess Problem: Is there sufficient supply of candidates for the available Data Science Job?
####                       Job offerings are marketed to exclude what is available in the market

# Data Preparation

In [43]:
# load data as dataframe

In [44]:
job_data= pd.read_csv('linkedin_canada.csv')

In [45]:
#preview dataframe (df)

job_data.head(3)

,applicationsCount,companyId,companyName,contractType,description,experienceLevel,location,postedTime,publishedAt,salary,sector,title,workType
0,Over 200 applicants,11000395.0,Embarq,Full-time,About Embarq\n\nWe help VC-backed US startups ...,Mid-Senior level,"Quebec, Canada",2 weeks ago,2024-01-05,NaN,IT Services and IT Consulting and Software Dev...,Machine Learning Engineer,Engineering and Information Technology
1,Over 200 applicants,912833.0,Thumbtack,Full-time,A home is the biggest investment most people m...,Not Applicable,"Ontario, Canada",2 weeks ago,2024-01-05,NaN,"Technology, Information and Internet","Data Scientist, Business Analytics",Engineering and Information Technology
2,Over 200 applicants,10064814.0,Clarifai,Full-time,"About The Company\n\nClarifai is a leading, fu...",Mid-Senior level,"Montreal, Quebec, Canada",4 months ago,2023-09-15,NaN,"Technology, Information and Internet",Data Scientist,Engineering and Information Technology

In [46]:
#check size of df (records x columns (features x attributes)
job_data.size

3575

In [47]:
#shape of df
job_data.shape

(275, 13)

In [48]:
#General info on df
job_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   applicationsCount  275 non-null    object
 1   companyId          274 non-null    float64
 2   companyName        274 non-null    object
 3   contractType       264 non-null    object
 4   description        275 non-null    object
 5   experienceLevel    275 non-null    object
 6   location           275 non-null    object
 7   postedTime         275 non-null    object
 8   publishedAt        270 non-null    object
 9   salary             13 non-null     object
 10  sector             264 non-null    object
 11  title              275 non-null    object
 12  workType           264 non-null    object
dtypes: float64(1), object(12)
memory usage: 28.1+ KB

In [49]:
#check for empty values

job_data.isnull().sum()

applicationsCount      0
companyId              1
companyName            1
contractType          11
description            0
experienceLevel        0
location               0
postedTime             0
publishedAt            5
salary               262
sector                11
title                  0
workType              11
dtype: int64

In [50]:
job_data.tail(5
             )

,applicationsCount,companyId,companyName,contractType,description,experienceLevel,location,postedTime,publishedAt,salary,sector,title,workType
270,Over 200 applicants,5045143.0,StackAdapt,Full-time,StackAdapt is a self-serve advertising platfor...,Entry level,Canada,1 week ago,2024-01-11,NaN,"Technology, Information and Internet","Software Engineer, Backend (Intermediate/Senior)",Engineering and Information Technology
271,45 applicants,14051.0,Kinaxis,Full-time,About Kinaxis\n\nKinaxis is the global leader ...,Internship,"Québec, Quebec, Canada",1 week ago,2024-01-13,NaN,Software Development,"Co-Op/Intern Developer, DevOps",Engineering and Information Technology
272,Over 200 applicants,93075952.0,Saks,Full-time,Who We Are:\n\nSaks Cloud Services (SCS) is an...,Associate,Canada,2 weeks ago,2024-01-04,NaN,Software Development,Atlassian Systems Engineer,Information Technology
273,57 applicants,14051.0,Kinaxis,Full-time,About Kinaxis\n\nKinaxis is the global leader ...,Internship,"Waterloo, Ontario, Canada",1 week ago,2024-01-13,NaN,Software Development,"Co-Op/Intern Developer, DevOps",Engineering and Information Technology
274,Be among the first 25 applicants,NaN,NaN,NaN,Job responsibilities\n\n * Design & build scal...,Contract,"British Columbia, Canada",1 week ago,2024-01-13,NaN,NaN,Senior React Developer,NaN

In [51]:
#check for unique values
job_data.nunique()

applicationsCount     85
companyId            160
companyName          160
contractType           4
description          236
experienceLevel        8
location              34
postedTime            19
publishedAt           78
salary                11
sector                48
title                215
workType              21
dtype: int64

In [52]:
#Check salary column for unique values
job_data.salary.unique()

array([nan, 'CA$70,000.00-CA$120,000.00', 'CA$110,000.00-CA$140,000.00',
       'CA$250,000.00-CA$275,000.00', 'CA$80,000.00-CA$100,000.00',
       'CA$140,000.00-CA$180,000.00', 'CA$80,000.00-CA$150,000.00',
       'CA$120,000.00-CA$160,000.00', 'CA$100,000.00-CA$165,000.00',
       'CA$85,000.00-CA$175,000.00', 'CA$80,000.00-CA$90,000.00',
       'CA$70,000.00-CA$90,000.00'], dtype=object)

#### Based on the presentation of the data in salary, one thought was to seperate the column into a lower salary and upper salary range. However considering there are only 4% of records in this attribute (not statistically significant), it may prove prudent to drop the column.

In [53]:
#Check applicationsCount column for unique values
job_data.applicationsCount.unique()

array(['Over 200 applicants', '146 applicants', '61 applicants',
       '143 applicants', '43 applicants', '33 applicants',
       '132 applicants', '114 applicants', '182 applicants',
       '72 applicants', '34 applicants', '142 applicants',
       '167 applicants', '28 applicants', '86 applicants',
       '64 applicants', '103 applicants', '29 applicants',
       '63 applicants', 'Be among the first 25 applicants',
       '134 applicants', '66 applicants', '102 applicants',
       '98 applicants', '188 applicants', '113 applicants',
       '107 applicants', '161 applicants', '118 applicants',
       '180 applicants', '51 applicants', '178 applicants',
       '100 applicants', '92 applicants', '131 applicants',
       '117 applicants', '125 applicants', '124 applicants',
       '116 applicants', '176 applicants', '112 applicants',
       '109 applicants', '149 applicants', '190 applicants',
       '30 applicants', '94 applicants', '62 applicants',
       '139 applicants', '68 applicants', '87 applicants',
       '32 applicants', '121 applicants', '74 applicants',
       '105 applicants', '119 applicants', '157 applicants',
       '49 applicants', '151 applicants', '25 applicants',
       '95 applicants', '78 applicants', '108 applicants',
       '152 applicants', '197 applicants', '194 applicants',
       '110 applicants', '168 applicants', '99 applicants',
       '196 applicants', '38 applicants', '39 applicants',
       '45 applicants', '104 applicants', '93 applicants',
       '69 applicants', '55 applicants', '41 applicants',
       '136 applicants', '48 applicants', '35 applicants',
       '90 applicants', '163 applicants', '82 applicants',
       '83 applicants', '57 applicants'], dtype=object)

In [62]:
#check number of values 
job_data.applicationsCount.value_counts()

applicationsCount
Over 200 applicants                 120
Be among the first 25 applicants     38
34 applicants                         4
33 applicants                         3
45 applicants                         3
                                   ...
139 applicants                        1
68 applicants                         1
32 applicants                         1
121 applicants                        1
57 applicants                         1
Name: count, Length: 85, dtype: int64

#### ApplicationsCount column will be converted to a categorical column; the categories are
#### > 200,<=200, <=175, <=150, <=125, <=100, <=75, <=50, <=25

In [54]:
#Check contractType column for unique values
job_data.contractType.unique()

array(['Full-time', 'Contract', nan, 'Part-time', 'Internship'],
      dtype=object)

#### contractType will be converted to categorical; only a small number of different values; should result in less memory used
#### for the empty value will change to "not diclosed"

In [55]:
#Check experienceLevel column for unique values
job_data.experienceLevel.unique()

array(['Mid-Senior level', 'Not Applicable', 'Entry level', 'Associate',
       'Full-time', 'Contract', 'Internship', 'Part-time'], dtype=object)

#### Similar to contractType, experienceLevel will be converted to categorical

#### From a visual look at "location", the attribute will not be changed from object/str. However, the data currently captures City,province, Country. It may serve best to disaggregate into city, province and Country. Where there is no province or city provided the following phrase will be used "not stated".

In [56]:
#Check postedTime column for unique values
job_data.postedTime.unique()

array(['2 weeks ago', '4 months ago', '2 months ago', '19 hours ago',
       '1 week ago', '2 days ago', '1 month ago', '15 hours ago',
       '3 months ago', '5 months ago', '4 weeks ago', '4 days ago',
       '3 days ago', '1 day ago', '3 weeks ago', '9 months ago',
       '6 months ago', '7 months ago', '5 days ago'], dtype=object)

#### postedTime will convert to categorical; 1 months ago, 2 months ago, 3 months ago, 4 months ago, 5 months ago, 6 months ago, 7 months ago, 9 months ago

In [57]:
#Check workType column for unique values
job_data.workType.unique()

array(['Engineering and Information Technology', 'Engineering',
       'Information Technology', 'Other', nan,
       'Information Technology and Engineering',
       'General Business, Research, and Project Management', 'Consulting',
       'Information Technology, Accounting/Auditing, and General Business',
       'Information Technology and Strategy/Planning',
       'Information Technology and Product Management',
       'Information Technology and Management',
       'Business Development and Sales',
       'Customer Service and Engineering',
       'Marketing and Information Technology', 'Quality Assurance',
       'Information Technology and Research',
       'Art/Creative and Information Technology', 'Finance',
       'Education, Engineering, and Marketing',
       'Research, Analyst, and Information Technology',
       'Engineering, Information Technology, and Consulting'],
      dtype=object)

#### workType no changes to be made to this column as well as title, sector and description(for now)

In [58]:
#check data types in df; note this was implicitly done when .info() was called.
print(job_data.dtypes)

applicationsCount     object
companyId            float64
companyName           object
contractType          object
description           object
experienceLevel       object
location              object
postedTime            object
publishedAt           object
salary                object
sector                object
title                 object
workType              object
dtype: object

In [59]:
# Drop the column/attribute "salary"
job_data.drop(columns=['salary'], inplace= True)

In [61]:
#checking that salary was removed.
job_data.columns

Index(['applicationsCount', 'companyId', 'companyName', 'contractType',
       'description', 'experienceLevel', 'location', 'postedTime',
       'publishedAt', 'sector', 'title', 'workType'],
      dtype='object')

In [67]:
#Remove all letters from applicationsCount; this will allow us to conver to int and then bin
job_data['applicationsCount'] = job_data['applicationsCount'].str.replace('\D',"",regex= True)

In [71]:
job_data[['applicationsCount']]

    applicationsCount
0                 200
1                 200
2                 200
3                 200
4                 200
..                ...
270               200
271                45
272               200
273                57
274                25

[275 rows x 1 columns]

In [72]:
#convert applicationsCount to int data type
job_data['applicationsCount'] = job_data['applicationsCount'].astype(int)

In [73]:
job_data['applicationsCount'].dtypes

dtype('int32')

In [84]:
#Binning numerical variables for applicationsCount
job_data.loc[job_data['applicationsCount'].between(0, 25, 'both'), 'Num_Applicants'] = '<=25'
job_data.loc[job_data['applicationsCount'].between(25, 50, 'right'), 'Num_Applicants'] = '<=50'
job_data.loc[job_data['applicationsCount'].between(50, 75, 'right'), 'Num_Applicants'] = '<=75'
job_data.loc[job_data['applicationsCount'].between(75, 100, 'right'), 'Num_Applicants'] = '<=100'
job_data.loc[job_data['applicationsCount'].between(100, 125, 'right'), 'Num_Applicants'] = '<=125'
job_data.loc[job_data['applicationsCount'].between(125, 150, 'right'), 'Num_Applicants'] = '<=150'
job_data.loc[job_data['applicationsCount'].between(150, 175, 'right'), 'Num_Applicants'] = '<=175'
job_data.loc[job_data['applicationsCount'].between(175, 200, 'left'), 'Num_Applicants'] = '<=200'
job_data.loc[job_data['applicationsCount'].between(200,500,  'left'), 'Num_Applicants'] = '>200'

In [85]:
job_data[['applicationsCount', 'Num_Applicants']]

     applicationsCount Num_Applicants
0                  200           >200
1                  200           >200
2                  200           >200
3                  200           >200
4                  200           >200
..                 ...            ...
270                200           >200
271                 45           <=50
272                200           >200
273                 57           <=75
274                 25           <=25

[275 rows x 2 columns]